.Heading {
    text-align: center;
    margin: 0px;
    width: 100%;
    color: white;
    background-color: #F92020;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 10px;
    font-style: italic;
}